/*home page*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
   /* font-family: 'Popins',sans-serif;*/
   /*background-color: black;*/
}

body{
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(background.jpg) no-repeat;
background-size: cover;
background-position: center;
}
li, a{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.name{
    font-size:60px;
    font-family: "Montserrat",sans-serif;
    color: white;
    margin-right: 26%;
    justify-content: space-between;
}

.name:hover{
    color: red
}

.logo{
    cursor: pointer;
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: auto;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: aqua;
}

.text{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}  

.profilecontainer {
     margin: 3% 0px 0px 0px;
    position: relative;
    width: 460px;
    height: 520px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
  }
  .h_userlist{
    /*margin-left: 10%;*/
    margin-top: 1%;
    font-size: 5vh;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.profile-info{
    margin-top: 3%;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
}
.adminprofile {
    /*cursor: pointer;*/
    margin-top: 3%;
    width: 100px;
    border-radius: 50px;
    /*float: left;*/
    margin-right: auto;
    animation: rotate 5s linear infinite alternate;
}
@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  

.change-password {
    font-family: "Montserrat",sans-serif;
    margin-top: 20px;
    font-size: 20px;
  }
  .change-password input {
    margin-top: 2%;
    margin-bottom: 10px;
    padding: 2%;
  }
  .change-password button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }