/*home page*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
   /* font-family: 'Popins',sans-serif;*/
   /*background-color: black;*/
}

body{
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(background.jpg) no-repeat;
background-size: cover;
background-position: center;
}

li, a{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.name{
    font-size:60px;
    font-family: "Montserrat",sans-serif;
    color: white;
    margin-right: 39%;
    justify-content: space-between;
}

.name:hover{
    color: red
}

.logo{
    cursor: pointer;
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: auto;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: aqua;
}


.text{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.sports{
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 0%;
    font-family: "Montserrat",sans-serif;
    color: #fff;
}

.sports:hover{
    color: red;
}

.sports-container {
    content: "";
    clear: both;
    margin: auto;
    display :flex;
    text-align: center;
    justify-content: center;
}

.sports-item {
    margin: 15px;
    text-align: center;
  }
  
.sports_text{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 25px;
}
.sports-item img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    float: left;
    margin: 0% auto;
  }

  .sports-item, .sports_a,.sports_text{
    transition: all 0.3s ease 0s;
  }

  .sports-item, .sports-a, .sports_text:hover{
    color: aqua;
  }

.h_userlist{
    margin-left: 10%;
    margin-top: 3%;
    font-size: 5vh;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
.boxcontainer{
    margin: auto;
    margin-top: -3%;
    margin-right: 10%;
    position: relative;
    width: 400px;
    height: 50px;
    border: 4px solid #2988b9;
    padding: 0px 10px;
    border-radius: 50px;
}
.elementcontainer{
    width: 115%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 11px;
    font-family: "Montserrat",sans-serif;
    color: #424242;
    font-weight: 500;
}
.search:focus{
    outline: none;
}
.material-icons{
    font-size: 26;
    color: #2988b9;
}

.table_turf{
    margin-top: 3%;
    border-collapse:collapse;
    width: 80%;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-align: center;
    border-color: white;
    border-radius: 55%;
}
td{
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
}
.table_turf tr:nth-child(even){
    background-color: transparent;
}
.table_turf tr:nth-child(odd){
    background-color: transparent;
}
.table_turf tr{
    border: 1px solid white;
    padding: 10px;
}
.table_turf td{
    border: none;
    padding: 8px;
    font-size: 20px;
}

.turfbtn{
    width: 90%;
    height: 45px;
    background: white;
    border: 5px;
    border-color: aqua;
    outline: none;
    
    font-size: 15px;
    
    
}

.turfbtn:hover{
    cursor: pointer;
    color: aquamarine;
}
